<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <style>
        img{width: 50px;
            height:auto ;}
    </style>
</head>
<body>
    <h1>Tendremos los siguientes productos</h1>
    <ol>
        <li>Cafes</li>
        <li>Empanadas</li>
        <li>Licores</li>
        <li>Pasteles</li>
    </ol>
    <a href="./index">index</a><br>
    <img src="./producto.jpg"/>
</body>
</html> -->