<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Panaderia Xuxan</title>
    <style>
        body{background-image:url(/panaderia.jpg);
            background-size:cover;}
        h1{color: orange;
         text-align: center;
         text-decoration: arial;}
         h2{color: lightblue;}
        img{
            width: 70px;
            height: 70px;
        }
        ol{color:fuchsia;
            font-size: x-large;}
    </style>
</head>
<body img src="panaderia.jpg">
    <h1>Somos una nueva panaderia que tendremos muchas variedades</h1><br/>
    <h2>Hablamos varios idiomas</h2><br>
    <ol>
        <li>Español</li><br>
        <li>Gallego</li><br>
        <li>Ingles</li><br>
    </ol>
    <a href="/"><img src="/index.png"></a><br>
    <img src="/quienes-somos.jpg"/>
</body>
</html>