<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Panaderia Xuxan</title>
    <style>
        h1{color: blue;}
        img{
            width: 50px;
            height: 50px;
        }
        ol{color: orangered;}
    </style>
</head>
<body>
    <h1>Somos una nueva panaderia que tendremos muchas variedades</h1><br/>
    <h1>Hablamos varios idiomas</h1><br>
    <ol>
        <li>Español</li>
        <li>Gallego</li>
        <li>Ingles</li>
    </ol>
    <a href="/"><img src="/index.png"></a>
    <img src="/quienes-somos.html"/>
</body>
</html>