<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de desconexion</title>
    <style>
        body{background-color:lightblue}
        h2{color: orangered;
            text-align: justify;
            text-transform: arial;}
        title{color: orangered;
            text-align: justify;
            font-style: arial;}
    </style>
</head>
<body>
    <h2>¿Estas seguro de que quieres desconectarte?</h2>
    <form th:action="@{/logout}"method="post">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>
