<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panaderia Xuxan</title>
   <style>
   </style> 
</head>
<body>
    <h1>Somos una nueva panaderia en construccion que pronto abriremos en el barrio</h1>
    <a th:href="./quienes-somos">somos</a><br>
    <a th:href="./contacta">contacta</a><br>
    <a th:href="./productos">productos</a><br>
    <footer th:text="${anho}">anho</footer><br>
    <img th:src="./index.png"/>
</body>
</html> -->